<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title || "Simple App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_client_tag %>
    <%= vite_stylesheet_tag "main" %>
    <% # No JS tag here - main pages are all normal Rails ERB templates, server side rendered for better SEO %>
  </head>

  <body class="bg-bgmain text-fgmain flex flex-col">
    <%= render "shared/header" %>
    
    <div class="flex-grow">
      <%= yield %>
    </div>
    
    <%= render "shared/footer" %>
  </body>
</html>
